<!DOCTYPE html>
<html>
    <head>
        <title>
            MY first web app
        </title>
        <style>
            body{ text-align:center;
            }
            button{
                background-color:white;
                color:blue; 
            }
        </style>
    </head>
<body>
    <h1> Email Spam classifier </h1>
<form method='post' action="/prediction">
    <textarea name='email-content' placeholder="Enter Your Email Body" rows="10" cols="55" autocomplete='off'>
        {{email_text}} 
    </textarea>
    <div>
        <button type ='submit'> Check spam </button>
        <a href='/'>Reset</a>
    </div>
    </form>

    {% if prediction== 1 %}
        <h2 style='color:red'> This is Spam</h2>
    {% elif prediction== -1 %}
        <h2 style="color:green">This is Ham</h2>
    {% endif%}
    
</body>
</html>

